.navbar {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    padding: 1rem 2rem;
    font-weight: bold;
}

img{
    height: 50px;
    width: 120px;
}

ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}
